{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto p-6 md:p-10 lg:p-8 bg-white shadow-xl rounded-2xl my-2 border border-gray-100">
    <!-- Main Title -->
    <h1 class="text-4xl font-extrabold  mb-6 border-b-4 border-gray-500 pb-2">{{ event.title }}</h1>

    {% if event.date %}
    <p><strong>Event Date:</strong> {{ event.date }}</p>
    {% endif %}

    <p>{{ event.description }}</p>

    <div id="gallery" class="grid lg:grid-cols-6 sm:grid-cols-2 gap-4">
        {% for img in event.images.all %}

        <img src="{{ img.image.url }}" class="rounded-2xl" data-full="{{ img.image.url }}" alt="{{ img.caption }}">

        {% empty %}
        <p>No images for this event.</p>
        {% endfor %}
    </div>
</div>
<!-- Lightbox -->
<div id="lightbox" class="fixed inset-0 bg-black bg-opacity-90 hidden justify-center items-center z-50"><button
        onclick="closeLightbox()" class="absolute top-6 right-8 text-white text-3xl font-bold">&times;</button> <button
        onclick="prevImage()" class="absolute left-4 top-1/2 transform -translate-y-1/2 text-white text-4xl">❮</button>
    <img id="lightbox-img" alt="Large" class="max-w-full max-h-[80vh] rounded-lg shadow-lg"> <button
        onclick="nextImage()" class="absolute right-4 top-1/2 transform -translate-y-1/2 text-white text-4xl">❯</button>
</div>
<a href="{% url 'event_list' %}">← Back to Events</a>
{% endblock %}